@page
@model ParkingDemo.Pages.Account.Users.PasswordChangeModel

@{
    ViewData["Title"] = "Password Reset";
}

<h1 class="display-5 mb-2">User - Password Reset</h1>

<hr />
<div class="row">
    <form method="post">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label asp-for="ViewModel.CurrentPassword" class="control-label"></label>
                    <input asp-for="ViewModel.CurrentPassword" class="form-control" />
                    <span asp-validation-for="ViewModel.CurrentPassword" class="text-danger form-validation-text"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label asp-for="ViewModel.NewPassword" class="control-label"></label>
                    <input asp-for="ViewModel.NewPassword" class="form-control" />
                    <span asp-validation-for="ViewModel.NewPassword" class="text-danger form-validation-text"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label asp-for="ViewModel.RepeatNewPassword" class="control-label"></label>
                    <input asp-for="ViewModel.RepeatNewPassword" class="form-control" />
                    <span asp-validation-for="ViewModel.RepeatNewPassword" class="text-danger form-validation-text"></span>
                </div>
            </div>
        </div>

        <div class="form-group mt-2">
            <input type="submit" value="Update" class="btn btn-sm btn-primary" />
            <a asp-page="/Index" class="btn btn-sm btn-outline-primary ms-2">Back To Dashboard</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}